@media (min-width: 576px) 
{
  h3{
    color:red;
    text-transform: uppercase;
    text-decoration: underline;
  }  
}
@media (min-width:768px) {
    .header{
        background-color: #1b834a;
    }
    h3{
        color:#740d12;
        text-align: center;
    }
    
}